# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Scala

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scipy
4. Matplotlib
5. Sklearn

|Data Science Tools|
|:----------------:|
|Jupyter Notebook  |
|Apache Spark      |
|Excel             |
|Tensorflow        |
|Tableau           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

### Objectives:
- Data science tools
- Popular languages for data Science
- Commonly used libraries for data science
- Examples of evaluation arithmetic expressions
- Inserting ordered and unordered list of data
- Inserting table in markdown cell

## Author
Easwar